body {
    background-image: url('images/cloud\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo img {
    width:140px
}

.title {
    margin-top: 5px;
}

.title>h1 {
    display: block;
    margin: auto;
    width: 600px;
    font-size: 60px;
    color: #F14E56;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 0
}

.title>h2 {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 0
}

.links {
    width: 100%;
    text-align: center;
}

.links>a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
    font-family: 'Brygada 1918', serif;
    font-size: 20px;
}

body>.middle>.links>a:hover {
    color: #F14E56;
    font-weight: 800
}

.title>h1:hover {
    background-color: white;
    color: #0078D7
}

.topnav {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Mukta', sans-serif;
    font-size:20px;
}

.topnav a:hover {
    color: #F14E56;
    font-weight: 550;
}
  
.footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
}

.construction {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 421px) {
    .title>h1 {
        width: 200px
    }
    .logo img {
        width: 85px
    }
    .title>h1 {
        font-size: 40px
    }
    .title>h2 {
        font-size: 15px;
    }
    .topnav {
        top:33px
    }
    .topnav a {
        font-size: 17px;
    }
    .middle>.links>a {
        font-size: 13px;
    }
    .footer{
        height: 36px;
        font-size: 13px;
    }
  }